body{
    font-family: 'Work Sans', sans-serif !important;
}
.wrapper{
    display: grid;
    grid-template-columns: 0.49fr 0.49fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap: 10px;
    grid-template-areas: 
    "p1 p2";
}
.project{
    display:flex;
    border: 0.5px solid rgb(226, 226, 226);
    border-radius: 15px;
}
.prj{
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    width: 100%;
    display:flex;
    flex-direction: column;
}
.p-1{
    height: 400px;
    grid-area: p1;
    background: url("img/kalimaty_cover.png") no-repeat center;
    background-size: contain ;
    /* max-width: 460px; */
}
.p-2{
    height: 400px;
    grid-area: p2;
    background: url("img/7sab_cover.png") no-repeat center;
    background-size: contain ; 
}
.anim{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.test{
    animation-name: show;
    animation-duration: 4s;
}

.name{
    margin: 0 auto;
    font-size: 30px;
    opacity: 0;
    transition: padding-top 0.5s, opacity 0.5s;
}
.used{
    margin: 0 auto;
    opacity: 0;
    transition: padding-top 0.5s, opacity 0.5s;
    font-size: 25px;
    color:rgb(250, 72, 117);
    letter-spacing: 2.1px;
}
.but{
    cursor: pointer;
    opacity: 0;
    align-self: center;
    margin-top: 100px;
    background-color: transparent;
    transition: margin-top 0.7s, opacity 0.5s;
     /* transition-delay: 0.5s;  */
    border:none;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
    padding: 10px;
    border: 1.8px solid rgb(250, 72, 117);
}
.anim-1{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.anim{
    opacity: 0;
}
.prj:hover .name{
    padding-top: 100px;
    opacity: 100 !important;
}
.prj:hover .used{
    padding-top: 20px;
    opacity: 100 !important;
}
.prj:hover .but{
    margin-top: 40px;
    opacity: 100 !important;
}
.prj:hover{
    /* background: none; */
    background: transparent;
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
}
.wrapper{
    opacity: 0;
    animation-name: show;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes show{
    to{
        opacity: 100%;
    }
}
@keyframes hide{
    to{
        background: rgb(238, 238, 238) no-repeat center;
    } 
}
@media only screen and (max-width: 960px){
    .prj{
        max-width: 570px;
        margin:0 auto;
    }
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "p1"
        "p2";
    }
}
@media only screen and (max-width: 540px){
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "p1"
        "p2";
    }
    .used{
        font-size: 18px;
    }

}