.black{
    color:black !important;
}
.wrapper{
    display:grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-gap: 13px 15px;
    grid-template-rows: 6.75%;
    grid-template-areas: 
    "exp skl"
    "exp-b1 sk"
    "exp-b2 sk"
    "exp-b3 sk"
    "exp-b4 sk"
    "exp-b5 sk";
}
.skl-box{
    grid-area: sk;
    display: flex;
    flex-direction: column;
}
body{
    padding-left: 10px;
    margin-right: 10px;
}
.skl-b1{
    grid-area: p1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.skl-b2{
    grid-area: p2;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.f p{
    cursor: default;
    transition: font-size 0.4s, color 0.4s;
}
.skl-obj *{
    cursor: default;
}
.skl-fill{
    width: 85%;
    padding-left: 5px;
    font-size: 17px;
    color: white;
    padding: 5px 10px;
}
.skl-fill-1{
    display: flex;
    width: 100%;
    background: rgb(83,126,255);
    background: linear-gradient(135deg, rgba(83,126,255,1) 80%, rgba(255,255,255,1) 80%);
}
.skl-fill-2{
    display: flex;
    width: 100%;
    background: rgb(0,37,147);
    background: linear-gradient(135deg, rgba(0,37,147,1) 65%, rgba(255,255,255,1) 45%);
}
.skl-fill-3{
    display: flex;
    width: 100%;
    background: rgb(255,61,41);
    background: linear-gradient(135deg, rgba(255,61,41,1) 60%, rgba(255,255,255,1) 60%);
}
.skl-fill-4{
    display: flex;
    width: 100%;
    background: rgb(220,52,41);
    background: linear-gradient(135deg, rgba(220,52,41,1) 60%, rgba(255,255,255,1) 60%);
}
.right{
    align-self: flex-end;
    margin: 0;
    font-size: 15px;
    padding:5px 0;
}
.skl-fill-5{
    display: flex;
    width: 100%;
    background: rgb(50,134,220);
    background: linear-gradient(135deg, rgba(50,134,220,1) 30%, rgba(248,138,2,1) 30%, rgba(248,138,2,1) 57%, rgba(121,114,227,1) 57%, rgba(121,114,227,1) 80%, rgba(255,255,255,1) 80%);
}
.skl-fill-6{
    display: flex;
    width: 100%;
    background: rgb(245,222,25);
    background: linear-gradient(135deg, rgba(245,222,25,1) 50%, rgba(255,255,255,1) 50%);
}
.skl-fill-7{
    display: flex;
    width: 100%;
    background: rgb(20,134,196);
    background: linear-gradient(135deg, rgba(20,134,196,1) 40%, rgba(255,255,255,1) 40%);
}
.skl-fill-8{
    display: flex;
    width: 100%;
    background: rgb(63,124,173);
    background: linear-gradient(135deg, rgba(63,124,173,1) 36%, rgba(255,230,109,1) 36%, rgba(255,230,109,1) 70%, rgba(255,255,255,1) 70%);
}
.skl-fill-9{
    display: flex;
    width: 100%;
    background: rgb(50,222,132);
    background: linear-gradient(135deg, rgba(50,222,132,1) 60%, rgba(255,255,255,1) 60%);   
}
.skl-fill-10{
    display: flex;
    width: 100%;
    background: rgb(255,197,16);
    background: linear-gradient(135deg, rgba(255,197,16,1) 0%, rgba(255,103,30,1) 22%, rgba(0,209,157,1) 37%, rgba(15,96,237,1) 50%, rgba(255,255,255,1) 50%);
}
.skl-fill-11{
    display: flex;
    width: 100%;
    background: rgb(48,48,48);
    background: linear-gradient(135deg, rgba(48,48,48,1) 0%, rgba(48,48,48,1) 20%, rgba(62,134,61,1) 20%, rgba(62,134,61,1) 40%, rgba(255,255,255,1) 40%);
}
.skl-fill-12{
    display: flex;
    width: 100%;
    background: rgb(6,90,212);
    background: linear-gradient(135deg, rgba(6,90,212,1) 60%, rgba(255,255,255,1) 60%);
}
.skl-fill-13{
    display: flex;
    width: 100%;
    background: rgb(54,163,235);
    background: linear-gradient(135deg, rgba(54,163,235,1) 80%, rgba(255,255,255,1) 80%);
}
.skl-fill-14{
    display: flex;
    width: 100%;
    background: rgb(255,49,132);
    background: linear-gradient(135deg, rgba(255,49,132,1) 5%, rgba(249,119,35,1) 27%, rgba(253,232,61,1) 56%, rgba(253,232,61,1) 80%, rgba(255,255,255,1) 80%);
}
.skl-fill-15{
    display: flex;
    width: 100%;
    background: rgb(1,1,1);
    background: linear-gradient(135deg, rgba(1,1,1,1) 70%, rgba(255,255,255,1) 70%);
}

.skl-obj{
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    margin-bottom: 10px;
}
.exp-b{
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid rgb(230, 230, 230);
    border-right: 0.5px solid rgb(230, 230, 230);
    border-bottom: 0.5px solid rgb(230, 230, 230);
    padding-right: 10px;
}
.time{
    white-space: nowrap;
    background-color: rgb(54, 166, 180);
    color:white;
    height: 30px;
    font-size: 15px;
    padding: 8px 5px 0px 5px;
    border-radius: 5px;
    font-weight: lighter;
    display: none;
}
.exp{
    grid-area: exp;
    font-size: 35px;
    text-decoration: underline;
}
.skl{
    grid-area: skl;
    font-size: 35px;
    text-decoration: underline;
}
.exp-b1{
    grid-area: exp-b1;
}
.exp-b3{
    grid-area: exp-b3;
}
.exp-b2{
    grid-area: exp-b2;
}
.exp-b4{
    grid-area: exp-b4;
}
.exp-b5{
    grid-area: exp-b5;
}
.exp-t{
    font-size: 25px;
}
.exp-des{
    padding-bottom: 5px;
}
.exp-t-box{
    display: flex;
    justify-content: space-between;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
}
h2{
    font-size: 30px;
}
.wrapper{
    opacity: 0;
    animation-name: show;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes show{
    to{
        opacity: 100%;
    }
}
@media only screen and (max-width: 960px){
    .skl-obj:hover .f p{
        nothing;
    }
    .wrapper{
        grid-template-columns: 65% 35%;
    }
    .skl-t{
        font-size: 25px;
    }
}
@media only screen and (max-width: 540px){
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 3.5%;
        grid-template-areas: 
        "exp"
        "exp-b1"
        "exp-b2"
        "exp-b3"
        "exp-b4"
        "exp-b5"
        "skl"
        "sk";
        /* "exp skl"
        "exp-b1 sk"
        "exp-b2 sk"
        "exp-b3 sk"
        "exp-b4 sk"
        "exp-b5 sk"; */
    }

}